<div class="mt-5 d-flex justify-content-center align-items-center">
  <div class="p-4 border rounded-3 shadow MW400">
    <div class="text-center mb-4">
      <h2><%= I18n.t("devise.registrations.edit.edit_profile") %></h2>
    </div>

    <div class="my-1 edit-sign-up-form">
      <%= render 'devise/registrations/form' %>
    </div>
  </div>
</div>
