<% if resource.errors.any? %>
  <div class="mt-4 alert alert-danger" id="error_explanation" data-turbo-cache="false">
    <span> <%= I18n.t("errors.messages.cant_save") %> </span>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
