<div class="mt-5 d-flex justify-content-center align-items-center ">
  <div class="p-4 border rounded-3 shadow container-fluid">
    <div class="text-center">
      <h2 class="mb-4"><%= label %></h2>
    </div>
    <div class="mb-4 posts-feed ">
      <%= render 'posts/feed' %>
    </div>
  </div>
</div>


<%= paginate @posts%>
