
.post-field {
  height: 100px;
  resize: none;
}

.the-post {
  font-size: 0.875rem;
  word-wrap: break-word;
}


/* Estilização global para alinhar link e botão */
.submit-post-btn, .edit-post-btn, .delete-post-btn, .recycle-post-btn, .back-btn {
  border: none;
  background: none;
  padding: 0;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 5px;
  transition: color 0.2s ease-in-out;
}

.delete-post-btn form, submit-post-btn form, .recycle-post-btn form {
  display: inline;
  margin: 0;
  padding: 0;
}

.back-btn:hover i,
.submit-post-btn:hover i,
.edit-post-btn:hover i,
.delete-post-btn:hover i,
.recycle-post-btn:hover i {
  color: #007BFF;
}
